{% extends "base.html" %}

{% block content %}
    <h3 class="title"> Envío </h3>
    <div class="block">
        <h5 class="subtitle"> Completa tus datos de envío </h5>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Pagar" class="button is-info">
        </form>
    </div>
    <hr>
    <div class="content">
        <ul>
          <li><a href="{% url 'home' %}">Quiero seguir comprando</a></li>
        </ul>
    </div>
{% endblock %}