<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <title> Linio </title>
  </head>
  <body>
  <section class="section" style="padding: 1.mm;">
    <div class="container">
      <div style="text-align:center; margin: auto; background-color:lightgray">
       <img src="{% static 'Linio-LogoOficial.png' %}" width="300" alt="Linioexp">
      </div> 
       <hr>
       <div class="content">
         {% block content %}
         {% endblock %}
    </div>
  </section>
  </body>
</html>